{
  "extends": [
    "a-standard", "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [
    "react", "babel"
  ],
  "rules": {
    "no-console": "off",
    "react/prop-types": "off"
  }
}
