<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='description' content='Stuffr helps you keep track of your things'>
  <meta name='application-name' content='Stuffr'>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css' />
  <script>
    var siteConfig = <%= htmlWebpackPlugin.options.siteConfig %>
  </script>
</head>
<body>
  <!-- TODO: Better loading screen -->
  <div id='app'>Stuffr is now loading...</div>
  <noscript>Javascript is disabled. You must enable Javascript to use Stuffr.</noscript>
</html>
